html {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  /*background-color: #f7ede5;	*/
  background-color: #000;
  -webkit-transition: background-color linear 5s;
  -moz-transition: background-color linear 5s;
  -o-transition: background-color linear 5s;
  -ms-transition: background-color linear 5s;
  transition: background-color linear 5s;
  overflow-x: hidden;
  margin: 0;
}
.container {
  display: none;
}
.peach {
  background-color: #fadec8;
}
.peach-after {
  -webkit-animation: peach_alive linear 8s infinite;
  -moz-animation: peach_alive linear 8s infinite;
  -o-animation: peach_alive linear 8s infinite;
  -ms-animation: peach_alive linear 8s infinite;
  animation: peach_alive linear 8s infinite;
}

@-webkit-keyframes peach_alive {
  0% {
    background-color: #f7ede5;
  }
  25% {
    background-color: #ffe4b5;
  }
  50% {
    background-color: #f7ede5;
  }
  75% {
    background-color: #ffefd5;
  }
  100% {
    background-color: #f7ede5;
  }
}
@-moz-keyframes peach_alive {
  0% {
    background-color: #f7ede5;
  }
  25% {
    background-color: #ffe4b5;
  }
  50% {
    background-color: #f7ede5;
  }
  75% {
    background-color: #ffefd5;
  }
  100% {
    background-color: #f7ede5;
  }
}

@-o-keyframes peach_alive {
  0% {
    background-color: #f7ede5;
  }
  25% {
    background-color: #ffe4b5;
  }
  50% {
    background-color: #f7ede5;
  }
  75% {
    background-color: #ffefd5;
  }
  100% {
    background-color: #f7ede5;
  }
}

@-ms-keyframes peach_alive {
  0% {
    background-color: #f7ede5;
  }
  25% {
    background-color: #ffe4b5;
  }
  50% {
    background-color: #f7ede5;
  }
  75% {
    background-color: #ffefd5;
  }
  100% {
    background-color: #f7ede5;
  }
}

@keyframes peach_alive {
  0% {
    background-color: #f7ede5;
  }
  25% {
    background-color: #ffe4b5;
  }
  50% {
    background-color: #f7ede5;
  }
  75% {
    background-color: #ffefd5;
  }
  100% {
    background-color: #f7ede5;
  }
}

.bulb {
  width: 50px;
  height: 50px;
  margin: auto;
  text-align: center;
  background-repeat: no-repeat no-repeat;
  background-position: center 0px;
  background-size: 50px 50px;
}

.bulb-holder {
  height: 70px;
}
/*after music*/

audio {
  display: none;
}

.bannar {
  max-width: 100%;
  -webkit-transform: translate(0px, -500px);
  -moz-transform: translate(0px, -500px);
  -o-transform: translate(0px, -500px);
  -ms-transform: translate(0px, -500px);
  transform: translate(0px, -500px);
}
.bannar-come {
  -webkit-animation: bannar_come linear 6s;
  -webkit-transform: translate(0px, 0px);
  -moz-animation: bannar_come linear 6s;
  -moz-transform: translate(0px, 0px);
  -o-animation: bannar_come linear 6s;
  -o-transform: translate(0px, 0px);
  -ms-animation: bannar_come linear 6s;
  -ms-transform: translate(0px, 0px);
  animation: bannar_come linear 6s;
  transform: translate(0px, 0px);
}
@-webkit-keyframes bannar_come {
  0% {
    -webkit-transform: translate(0px, -1000px);
  }
  33% {
    -webkit-transform: translate(0px, 0px);
    -webkit-transform: rotate(10deg);
    /*-webkit-transform:scale(1.5);*/
  }
  66% {
    -webkit-transform: translate(0px, 100px);
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-moz-keyframes bannar_come {
  0% {
    -moz-transform: translate(0px, -1000px);
  }
  33% {
    -moz-transform: translate(0px, 0px);
    -moz-transform: rotate(10deg);
    /*-webkit-transform:scale(1.5);*/
  }
  66% {
    -moz-transform: translate(0px, 100px);
    -moz-transform: rotate(-10deg);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-o-keyframes bannar_come {
  0% {
    -o-transform: translate(0px, -1000px);
  }
  33% {
    -o-transform: translate(0px, 0px);
    -o-transform: rotate(10deg);
    /*-webkit-transform:scale(1.5);*/
  }
  66% {
    -o-transform: translate(0px, 100px);
    -o-transform: rotate(-10deg);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes bannar_come {
  0% {
    -ms-transform: translate(0px, -1000px);
  }
  33% {
    -ms-transform: translate(0px, 0px);
    -ms-transform: rotate(10deg);
    /*-webkit-transform:scale(1.5);*/
  }
  66% {
    -ms-transform: translate(0px, 100px);
    -ms-transform: rotate(-10deg);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
@keyframes bannar_come {
  0% {
    transform: translate(0px, -1000px);
  }
  33% {
    transform: translate(0px, 0px);
    transform: rotate(10deg);
    /*-webkit-transform:scale(1.5);*/
  }
  66% {
    transform: translate(0px, 100px);
    transform: rotate(-10deg);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.control-panel {
  position: fixed;
  bottom: 0;
  padding: 10px 0px 10px 0px;
}
#play,
#bannar_coming,
#balloons_flying,
#cake_fadein,
#light_candle,
#wish_message,
#story {
  display: none;
}

.btn-primary {
  border-color: #f7873c;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Signika", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #f7873c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #fff;
  color: #fff;
  background-color: #f7873c;
}
